<div ng-show="model.user">


    <!--header-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-inner">
                <p class="navbar-text pull-left">
                    <a href="#/user/jobs" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <a class="navbar-brand">
                    Search
                </a>
            </div>
        </div>
    </nav>

    <!--footer-->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-inner">
                <p class="navbar-text pull-right">
                    <a href="#/user" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>

<div ng-show="!model.user">
    <!--header-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-inner">
                <a class="navbar-brand">
                    Search
                </a>
            </div>
            <p class="navbar-text pull-right">
                <a href="#/login" class="navbar-link">
                    Login
                </a>
            </p>
        </div>
    </nav>
</div>

<div class="container">
    <h2>Here is what we found for "{{model.previousSearch}}"</h2>
    <!--{{model.searchTerm}}-->
    <!--<br>-->
    <!--{{model.jobs}}-->
    <!--{{model.user}}-->

    <form name="searchForm"
          novalidate
          ng-submit="model.searchJob()">
        <div class="input-group">
            <input ng-model="model.searchTerm" type="text" class="form-control">
                <span class="input-group-btn">
                <button type="submit"
                        class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </form>


    <br>
    <div ng-show="model.jobs.length > 0">
        <h4>We found {{model.jobs.length}} job(s):</h4>
        <ul class="list-group">
            <li ng-repeat="job in model.jobs" class="list-group-item">
                <a href="#/search/{{model.searchTerm}}/job/{{job._id}}">{{job.name}}</a>
            </li>
        </ul>
    </div>
    <div ng-show="model.profiles.length > 0">
        <h4>We found {{model.profiles.length}} user profile(s):</h4>
        <ul class="list-group">
            <li ng-repeat="profile in model.profiles" class="list-group-item">
                <a href="#/public/profile/{{profile._id}}">{{profile.profile.firstName}} {{profile.profile.lastName}}</a>
            </li>
        </ul>
    </div>
    <div ng-show="model.profiles.length <= 0 && model.jobs.length <= 0">
        <h4 class="text-muted">Sorry, no jobs or users found!</h4>
    </div>
</div>