<div ng-show="model.user">
    <!--header-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-inner">
                <p class="navbar-text pull-left">
                    <a href="{{model.backURL}}" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <a class="navbar-brand">
                    Job Details
                </a>
            </div>
        </div>
    </nav>

    <!--footer-->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-inner">
                <p class="navbar-text pull-right">
                    <a href="#/user" class="navbar-link">
                      <span class="glyphicon glyphicon-user">
                      </span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>

<div ng-show="!model.user">
    <!--header-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-inner">
                <p class="navbar-text pull-left">
                    <a href="{{model.backURL}}" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <a class="navbar-brand">
                    Job Details
                </a>
            </div>
            <p class="navbar-text pull-right">
                <a href="#/login" class="navbar-link">
                    Login
                </a>
            </p>
        </div>
    </nav>
</div>

<div class="container">

    <div ng-show="model.success" class="alert alert-success">
        {{model.success}}
    </div>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8 text-center">
                <img src="http://lorempixel.com/260/260/technics"
                     class="thumbnail img-responsive center-block"></img>
                <h1>{{model.job.name}}</h1>

                <h3>${{model.job.price}}</h3>
                <br />
                <p>{{model.job.description}}</p>
                <br />
                <button ng-click="model.applyForJob(profileForm.$valid)"
                        ng-show="model.canRequest"
                        class="btn btn-primary btn-block">Request for Job
                </button>

                <!-- Applicants List -->
                <div ng-show="model.applicants && model.applicants.length > 0">
                <h4 class="text-left">Applicants</h4>
                <ul class="list-group">
                    <li ng-repeat="applicant in model.applicants"
                        class="list-group-item">
                            <a href="#/public/profile/{{applicant._userId}}">
                                <span ng-if="applicant.profile === ''">Anonymous User</span>
                                <span ng-show="applicant.profile.firstName">{{applicant.profile.firstName}}</span>
                            </a>
                            <!--<a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}"-->
                               <!--class="pull-right">-->
                                <!--<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>-->
                            <!--</a>-->
                        <!--{{applicant}}-->
                    </li>
                </ul>
                </div>

        </div>
        <div class="col-xs-2"></div>
    </div>
</div>
