<!DOCTYPE html>
<div class="container">

    <h2>Login</h2>

    <div ng-if="model.error"
         class="alert alert-danger"
         role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{model.error}}
    </div>

    <form name="loginForm"
          novalidate
          ng-submit="loginForm.$valid && model.login(username, password)">

        <div name="usernameGroup"
             class="form-group"
             ng-class="{ 'has-error' : loginForm.username.$invalid && loginForm.$submitted }">
            <input name="username"
                   ng-model="username"
                   class="form-control"
                   placeholder="username"
                   type="text"
                   required
                   autocorrect="off"
                   autocapitalize="off" />
            <span ng-show="loginForm.username.$invalid && loginForm.$submitted"
                  class="help-block">Please enter a username.</span>
        </div>

        <div name="passwordGroup"
             class="form-group"
             ng-class="{ 'has-error' : loginForm.password.$invalid && loginForm.$submitted }">
            <input name="password"
                   ng-model="password"
                   class="form-control"
                   placeholder="password"
                   type="password"
                   required
                   autocorrect="off"
                   autocapitalize="off" />
            <span ng-show="loginForm.password.$invalid && loginForm.$submitted"
                  class="help-block">Please enter a password.</span>
        </div>

        <button type="submit"
                class="btn btn-primary btn-block">Login</button>

        <a class="btn btn-success btn-block"
           href="#/register">Register</a>

        <a class="btn btn-primary btn-block"
           href="/auth/facebook" >
            <span class="fa fa-facebook"></span>
            Facebook
        </a>
    </form>

</div>