<!DOCTYPE html>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-inner">
            <span class="navbar-brand">
                Profile
            </span>
            <p class="navbar-text pull-right">
                <button ng-click="model.updateProfile()"
                        class="navbar-link clear-button"
                        ng-disabled="profileForm.$invalid">
                    <span class="glyphicon glyphicon-ok"
                          aria-hidden="true"></span>
                </button>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <div ng-show="model.success" class="alert alert-success">
        {{model.success}}
    </div>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <form name="profileForm">
        <div class="form-group"
             ng-class="{ 'has-error' : profileForm.email.$invalid && !profileForm.email.$pristine }">
            <label for="email">Email</label> <!-- for must match the id bellow -->
            <input name="email"
                   ng-model="model.user.email"
                   type="text"
                   class="form-control"
                   id="email"
                   readonly/>
            <span class="help-block"
                  ng-show="profileForm.email.$invalid && !profileForm.email.$pristine">
                Please provide a email.
            </span>
        </div>

        <div class="form-group">
            <label for="first">First Name</label> <!-- for must match the id bellow -->
            <input ng-model="model.user.profile.firstName"
                   type="text"
                   class="form-control"
                   id="first"/>
        </div>

        <div class="form-group">
            <label for="last">Last Name</label> <!-- for must match the id bellow -->
            <input ng-model="model.user.profile.lastName"
                   type="text"
                   class="form-control"
                   id="last"/>
        </div>

        <div class="form-group">
            <label for="gender">Gender</label> <!-- for must match the id bellow -->
            <select id="gender"
                    class="form-control"
                    ng-model="model.user.profile.gender"
                    ng-options="v for v in model.genderList">
            </select>
        </div>


        <div class="form-gourp">
            <label for="profileImage">Profile Image</label>
            <input ng-model="model.user.profile.profileImage"
                   type="url"
                   class="form-control"
                   id="profileImage"/>
        </div>

        <div class="form-gourp">
            <label for="major">Major</label>
            <input ng-model="model.user.profile.major"
                   type="text"
                   class="form-control"
                   id="major"/>
        </div>

        <div class="form-gourp">
            <label for="field">Field</label>
            <input ng-model="model.user.profile.field"
                   type="text"
                   class="form-control"
                   id="field"/>
        </div>

        <div class="form-gourp">
            <label for="description">Description</label>
            <textarea ng-model="model.user.profile.description"
                      rows="5"
                      class="form-control"
                      id="description">
            </textarea>
        </div>

        <!--pDF         : String-->


        <a class="btn btn-primary btn-block"
           href="#/user/jobs">My Jobs</a>

        <a class="btn btn-danger btn-block"
           ng-click="model.logOut()">Logout</a>

        <a class="btn btn-danger btn-block"
           ng-click="model.unregister()">Unregister</a>
    </form>
</div>